:root {
  --clr-primary-1: hsl(231, 69%, 60%);
  --clr-primary-2: hsl(0, 94%, 66%);
  --clr-neutral-1: hsl(229, 8%, 60%);
  --clr-netural-2: hsl(229, 31%, 21%);
  --fc-white: white;
  --shadow-btn: 0 1px 10px rgba(0, 0, 0, 0.297);
  --shadow-1: 0 10px 10px 1px rgba(0, 0, 0, 0.078);
  --qn-border: hsla(229, 8%, 60%, 0.283);
  --fs: 112%;
  --ff: Rubik;
  --fw-400: 400;
  --fw-500: 500;
  --padding-1: 10rem;
  --padding-2: 4rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 18px;
  font-size: 1.8rem;
  font-family: "Rubik", sans-serif;
}
@media (max-width: 51.18em) {
  body {
    font-size: 16px;
    font-size: 1.6rem;
  }
}

.heading {
  font-weight: var(--fw-600);
  margin-bottom: 1.8rem;
  font-size: 3rem;
  font-weight: bold;
}
.heading--main {
  font-size: 5rem;
}

.paragraph {
  font-size: 2rem;
  margin-bottom: 2rem;
  opacity: 0.6;
  line-height: 1.5;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4.5rem 8rem;
}
.header__logo {
  margin-right: auto;
}

.navigation__list {
  display: flex;
  list-style: none;
  text-transform: uppercase;
  line-height: 1.4;
}
.navigation__list--link {
  list-style: none;
}
.navigation__list--link a {
  text-decoration: none;
  color: var(--clr-netural-2);
  font-weight: 600;
  font-size: 1.4rem;
  opacity: 0.8;
  margin-right: 4rem;
}
.navigation__list--link a:hover {
  color: var(--clr-primary-2);
}
@media (max-width: 51.18em) {
  .navigation__list {
    display: none;
  }
}

.hero {
  display: flex;
  gap: 10rem;
  padding: 4rem 0 2rem 8rem;
  padding-left: var(--padding-1);
  align-items: center;
  box-sizing: content-box;
}
.hero__img {
  width: 100%;
}
.hero--left {
  width: 50%;
}
.hero--right {
  width: 50%;
}
.hero__btn--chrome {
  margin-right: 1.25rem;
}
@media (max-width: 51.18em) {
  .hero {
    flex-direction: column;
    padding: 0;
  }
  .hero--left {
    width: 80%;
    text-align: center;
  }
  .hero--left h1 {
    font-size: 2em;
  }
  .hero--right {
    width: 100%;
  }
}

.features {
  padding: var(--padding-2) var(--padding-1);
  position: relative;
  transition: all 0.2s ease-in-out;
}
.features--heading {
  text-align: center;
}
.features--paragraph {
  width: 42%;
  text-align: center;
}
.features__description {
  display: grid;
  justify-items: center;
  align-items: center;
}
.features__btns--wrapper {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  border-bottom: 1px solid var(--clr-neutral-1);
  margin-bottom: 8rem;
}
.features__btn {
  padding: 1.8rem 1rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: 600;
  width: 100%;
  letter-spacing: 1px;
}
.features__btn:hover {
  color: var(--clr-primary-2);
}
.features__btn--active {
  border-bottom: 4px solid var(--clr-primary-2);
}
.features__card {
  display: none;
}
.features__card--active {
  display: flex;
  gap: 10rem;
}
.features__card--description {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.features__card--btn {
  align-self: flex-start;
}
@media (max-width: 51.18em) {
  .features {
    padding: var(--padding-2) 1rem;
  }
  .features--paragraph {
    width: 90%;
  }
  .features__btns--wrapper {
    flex-direction: column;
    width: 90%;
  }
  .features__btn {
    border-bottom: 1px solid var(--clr-neutral-1);
  }
  .features__btn--active {
    border-bottom: 4px solid var(--clr-primary-2);
  }
  .features__card img {
    width: 100%;
  }
  .features__card--active {
    flex-direction: column;
  }
  .features__card--description {
    width: 100%;
  }
  .features__card--btn {
    align-self: flex-start;
  }
}

.extension {
  padding-block: var(--padding-2);
}
.extension__description {
  text-align: center;
  display: grid;
  align-items: center;
  justify-items: center;
}
.extension__description--paragraph {
  width: 45%;
}
.extension__cards {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  gap: 4.25rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.extension__card {
  box-shadow: var(--shadow-1);
  border: 2px solid transparent;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.extension__card--img {
  margin-bottom: 2rem;
  padding-top: var(--padding-2);
}
.extension__card--2 {
  transform: translateY(30px);
}
.extension__card--3 {
  transform: translateY(60px);
}
.extension__paragraph {
  padding-bottom: var(--padding-2);
  border-bottom: 4px dotted rgba(0, 0, 0, 0.14);
  width: 100%;
  text-align: center;
  opacity: 0.6;
}
.extension__btn {
  margin-block: 2rem;
  margin-inline: 2rem;
}
@media (max-width: 51.18em) {
  .extension__description--paragraph {
    width: 90%;
  }
  .extension__cards {
    grid-auto-flow: row;
  }
}

.footer {
  background-color: var(--clr-primary-1);
}
.footer__form {
  text-align: center;
  padding-block: 4rem;
  color: var(--fc-white);
  width: max(50%, 400px);
  margin: 0 auto;
}
.footer__form--email {
  padding: 1.4rem 2rem;
  border: none;
  border-radius: 5px;
  width: 100%;
  outline: none;
  position: relative;
  z-index: 2;
}
.footer__form--btn {
  text-transform: capitalize !important;
  align-self: flex-start;
  padding: 1em 1.5em !important;
}
.footer__form--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.footer__form--input {
  width: 50%;
}
.footer__form--heading-small {
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-block: 4rem;
}
@media (max-width: 51.18em) {
  .footer__form--input {
    width: 100%;
  }
  .footer__form--wrapper {
    flex-direction: column;
  }
  .footer__form--wrapper input,
.footer__form--wrapper button {
    width: 100%;
  }
}
.footer__nav {
  display: flex;
  background-color: var(--clr-netural-2);
  padding: 2rem 8rem;
  align-items: center;
}
.footer__list {
  list-style: none;
  display: flex;
  gap: 50px;
}
.footer__list--item {
  cursor: pointer;
}
.footer__list--item a {
  color: var(--fc-white);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
}
.footer__list--item a:hover {
  color: var(--clr-primary-1);
}
@media (max-width: 51.18em) {
  .footer__list {
    flex-direction: column;
  }
}
@media (max-width: 51.18em) {
  .footer__nav {
    flex-direction: column;
  }
}

.social {
  display: flex;
  margin-left: auto;
  gap: 20px;
}
.social__img {
  width: 25px;
  height: 15px;
}

.attribution {
  background-color: var(--clr-netural-2);
  text-align: right;
  padding-right: 8rem;
  font-size: 1.25rem;
  color: var(--fc-white);
}
.attribution a {
  color: var(--clr-primary-1);
  text-decoration: none;
}

.error {
  border: 2px solid var(--clr-primary-2);
}
.error__message {
  background-color: var(--clr-primary-2);
  color: var(--fc-white);
  padding: 0.8rem 1rem;
  font-size: 1.2rem;
  text-align: left;
  font-style: italic;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transform: translateY(-5px);
}

.btn {
  cursor: pointer;
  border: none;
  padding: 0.8em 2em;
  border-radius: 5px;
  color: var(--fc-white);
  box-shadow: var(--shadow-btn);
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}
.btn--red {
  background-color: var(--clr-primary-2);
  text-transform: uppercase;
  border: 2px solid var(--clr-primary-2);
  letter-spacing: 1px;
}
.btn--red:hover {
  background-color: var(--fc-white);
  color: var(--clr-primary-2);
}
.btn--blue {
  background-color: var(--clr-primary-1);
  padding: 0.8em 2em;
  border: 2px solid var(--clr-primary-1);
}
.btn--blue:hover {
  background-color: transparent;
  color: var(--clr-primary-1);
}
.btn--transparent {
  color: var(--clr-netural-2);
  border: 2px solid transparent;
}
.btn--transparent:hover {
  border: 2px solid var(--clr-netural-2);
}

.section__dropdown {
  text-align: center;
  margin-block: 5rem;
}

.dropdown {
  width: max(45%, 400px);
  transition: all 0.2s ease-in-out;
}
.dropdown__conatiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dropdown__conatiner--description {
  width: max(40%, 400px);
  margin-top: 8rem;
  margin-bottom: 4rem;
}
.dropdown__heading {
  text-align: left;
  opacity: 0.8;
  cursor: pointer;
  font-size: 1.6rem;
}
.dropdown__paragragh {
  text-align: left;
}
.dropdown__question {
  border-top: 1.5px solid var(--qn-border);
  padding: 1.8rem 0;
  display: flex;
  justify-content: space-between;
  transition: all 0.4s ease-in;
  cursor: pointer;
}
.dropdown__question--last {
  border-bottom: 1.5px solid var(--qn-border);
}
.dropdown__question span {
  margin-right: 2rem;
  color: var(--clr-primary-1);
}
.dropdown__question:hover {
  color: var(--clr-primary-2);
}
.dropdown__btn {
  margin-top: 4rem;
}

.open {
  display: block;
}

.closed {
  display: none;
  transition: all 0.2s ease-in-out;
}

/*# sourceMappingURL=style.css.map */
